<!DOCTYPE html>
<html>

<head>
    <title>Task1</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">

    <style>
    </style>

</head>

<body>

    <!--                                                               Header                                                                 -->
    <div class="header">
        <div class="container_header">
            <div class="logo">
                DD
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="active" href="#">PRODUCTEN</a>
                    </li>
                    <li>
                        <a href="#">ABONNEREN</a>
                    </li>
                    <li>
                        <a href="#">OVER ONS</a>
                    </li>
                    <li>
                        <a href="#">VRAGEN</a>
                    </li>
                </ul>
            </div>
            <div class="cart">
                <img class="inside_cart1" src="photo/website_list_page.png" alt="cart_icon">
                <span class="inside_cart2">29,95(2)</span>
            </div>
        </div>
    </div>
    <!--                                                                 Main                                                                 -->
    <div class="main">
        <div class="container_text">
            <p>
                Snel en voordelig bestellen.
                <br> Loren ipsum dolor sit amet, consectetur adipiscing elit.
                <br> Maecenas aliquet feugiat odio at mollis.
            </p>
        </div>

        <div class="container_rectangle">
            <div class="container_left">
                <div class="rect">

                    <div class="p4">
                        Abonneren
                    </div>
                    <hr/>
                    <div class="p5">
                        Maecenas aliquet feugiat odio at
                        <br> mollis. Proin accumsan sollicitu-
                        <br> din orci. Donec tincidunt semper
                        <br> augue, et congue sapien facilisis
                        <br> at. Suspendisse porta, dolor a
                        <br> suscipit vestibulum, neque lacus.
                        <br> Lorem ipsum dolor sit amet,
                        <br> consectetur adipiscing elit. Mae-
                        <br> cenas aliquet feugiat odio at
                        <br> mollis. Proin accumsan sollicitu-
                        <br> din orci. Donec tincidunt semper
                        <br> augue, et congue sapien facilisis
                        <br> at. Suspendisse porta.
                    </div>

                    <img class="p6" src="photo/Layer-4.png" alt="p6">
                </div>
            </div>

            <div class="container_right">
                <div class="rect_top">
                    Nutrilon
                    <br> Pronultrat
                </div>
                <div class="rect_bottom">
                    <img class="p1" src="photo/package.png" alt="p1">
                    <img class="p2" src="photo/Untitled-2.png" alt="p2">
                    <img class="p3" src="photo/Untitled-1.png" alt="p3">
                </div>

                <div class="rect_top">
                    Nutrilon
                    <br> Pronultrat
                </div>
                <div class="rect_bottom">
                    <img class="p1" src="photo/package.png" alt="p1">
                    <img class="p2" src="photo/Untitled-2.png" alt="p2">
                    <img class="p3" src="photo/Untitled-1.png" alt="p3">
                </div>
            </div>

            <div class="container_right">
                <div class="rect_top">
                    Nutrilon
                    <br> Pronultrat
                </div>
                <div class="rect_bottom">
                    <img class="p1" src="photo/package.png" alt="p1">
                    <img class="p2" src="photo/Untitled-2.png" alt="p2">
                    <img class="p3" src="photo/Untitled-1.png" alt="p3">
                </div>

                <div class="rect_top">
                    Nutrilon
                    <br> Pronultrat
                </div>
                <div class="rect_bottom">
                    <img class="p1" src="photo/package.png" alt="p1">
                    <img class="p2" src="photo/Untitled-2.png" alt="p2">
                    <img class="p3" src="photo/Untitled-1.png" alt="p3">
                </div>
            </div>

            <div class="container_right">
                <div class="rect_top">
                    Nutrilon
                    <br> Pronultrat
                </div>
                <div class="rect_bottom">
                    <img class="p1" src="photo/package.png" alt="p1">
                    <img class="p2" src="photo/Untitled-2.png" alt="p2">
                    <img class="p3" src="photo/Untitled-1.png" alt="p3">
                </div>

                <div class="rect_top">
                    Nutrilon
                    <br> Pronultrat
                </div>
                <div class="rect_bottom">
                    <img class="p1" src="photo/package.png" alt="p1">
                    <img class="p2" src="photo/Untitled-2.png" alt="p2">
                    <img class="p3" src="photo/Untitled-1.png" alt="p3">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container_footer">
            <div class="dd">
                DD
            </div>
            <div class="sitemap">
                SiteMap
                <br> PRODUCTEN
                <br> ABONNEREN
                <br> OVER ONS
                <br> VRAGEN
            </div>
            <div class="email">
                Email
                <br> dutchdairy@info
                <br>
                <br> Website
                <br> www.dutchdairy.com
            </div>
            <div class="tel">
                Tel.
                <br> 045 530 03 89
                <br>
                <br> Adres
                <br>Kerkstraat 99
                <br>Maastrict
            </div>
            <div class="contact">
                Contact
            </div>
        </div>
    </div>
</body>

</html>